:root {
    --accent-color: #2196f3;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.header {
    background-color: #ffffff;
}




/* logo */
.header-logo > span {
    color: var(--accent-color);
}
.header-logo {
    color: #000000;
    cursor: pointer;
}




/* nav */
.header-nav a {
    color: var(--secondary-text-color);
}
.header-nav a:hover {
    color: var(--accent-color);
    cursor: pointer;
}
.header-nav a:focus{
    color: var(--accent-color);
}
.header-contact a {
    color: var(--primary-text-color);
}
.header-contact a:hover {
    color: var(--accent-color);
    cursor: pointer;
}
.header-contact a:focus {
    color: var(--accent-color);
}







/* HERO */
.hero {
    background-color: var(--secondary-background-color);
    color: #FFFFFF;
}
.hero-title{
    color: #FFFFFF;
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.hero-button:hover{
    background-color: #FFFFFF;
        color: var(--accent-color);
}
.hero-button:focus{
    background-color: #FFFFFF;
    color: var(--accent-color);
}






/*  */
.section {
    background-color: #F5F5F5;
}
.section-title {
    color: var(--secondary-text-color);
}
.list-title {
    color: var(--secondary-text-color);
}
.lest-text {
    color: var(--primary-text-color);
}




/* team */
.team {
    background-color: #F5F4FA;
}
.team-title {
    color: var(--secondary-text-color);
}
.team-name > h3 {
    color: var(--secondary-text-color);
}
.team-name > p {
    color: var(--primary-text-color);
}


/* footer */
.footer {
    background-color: var(--secondary-background-color);
}
.footer-logo>span {
    color: var(--accent-color);
}
.footer-logo {
    color: #FFFFFF;
}


.footer-adress a {
    color: var(--primary-text-color);
    font-style: normal;
}
.footer-adress a:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.footer-adress a:focus{
    color: #FFFFFF;
   cursor: pointer;
}
